@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>


<div class ="text-center">
    <p class="align-content-end">
        KUSYS_Demo is a simple application to demonstrate basic capabilaties of ASP.NET Core 6 with EntitiyFramwork Core 6.
    </p>
</div>
